{% include 'theme-variables' %}
<div class="collection-wrap {% if settings.infinite-product-scroll %} infinite-product-scroll-wrap{% endif %}">
{% if settings.collection-header-placement == 'above-products' %}
{% include 'collection-header' with collection %}
{% else %}
<div class="container">
  <h1 class="page-header">{{ page_title }}</h1>
</div>
{% endif %}

{{ collection_slider }}

{% include 'collection-nested' %}

{% unless hide_products %}
{% if collection.all_products_count == 0 %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<p>Sorry, no {% include '__localize' with 'products' %} were found in the {{ collection.title }} collection.</p>
	{% include '__containers-close' %}
</section>
{% elsif collection.products_count == 0 %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<h2>Whoops! You might need to broaden your search.</h2>
	<p>There {{ collection.all_products_count | pluralize: 'is', 'are' }}<strong> {{ collection.all_products_count | count }} {{ collection.all_products_count | pluralize: 'style', 'styles' }} of {% include '__localize' with 'Products' %}</strong> in the {{ collection.title }} collection&mdash;try removing some filters.</p>
	<ul>
		{% for tag in current_tags %}
		<li>{{ tag }} ({{ 'remove' | link_to_remove_tag: tag }})</li>
		{% endfor %}
	</ul>
	<p><br>Or, view <strong><a href="{{ collection.url }}">all {{ collection.all_products_count }} {% include '__localize' with 'Products' %} in the {{ collection.title }} {% include '__localize' with 'Collection' %}</a></strong>.</p>
	{% include '__containers-close' %}
</section>
{% else %}
{% if settings.tag-placement == 'main-content' or settings.show-product-sorter %}
<section id="collection-sort" class="section-wrap">
	{% include '__containers-open' %}
	<div class="clearfix">
		{% if settings.tag-placement == 'main-content' %}
		<div class="pull-left">
			{% include 'tag-buttons' %}
		</div>
		{% endif %}

		{% if settings.show-product-sorter %}
		{% assign sort_orders = 'Featured,Price Ascending,Price Descending,Title Ascending,Title Descending,Created Ascending,Created Descending,Best Selling' | split: ',' %}
		<div class="sort-wrapper">
			<strong>Sort By:</strong>
			<ul class="nav nav-pills {% if settings.tag-placement == 'sidebar' %}nav-stacked{% else %}pull-right{% endif %}">
				<li class="dropdown">
					<a role="button" data-toggle="dropdown" href="#" id="sort_menu">{% include '__localize' with 'Featured' %} <span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="sort_menu">
						{% for so in sort_orders %}{% if forloop.index == 1 and collection.sort_by == blank %}{% assign default_sort = true %}{% else %}{% assign default_sort = false %}{% endif %}
						{% if so contains 'Price' or so contains 'Selling' %}{% assign price_sort = true %}{% else %}{% assign price_sort = false %}{% endif %}
						{% unless collection_has_prices == false and price_sort %}
						{% assign so_param = so | replace: ' ','-' | downcase %}
						<li{% if collection.sort_by == so_param or default_sort %} class="active"{% endif %}><a href="?sort_by={{ so_param }}">{% include '__localize' with so %}</a></li>
						{% endunless %}
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>

		{% endif %}
	</div>
	{% include '__containers-close' %}
</section>
<hr>
{% endif %}

<section id="product-list" class="section-wrap">
{% assign is-product-list = true %}
{% include '__containers-open' %}
{% include '__default-pagination' %}
{% paginate collection.products by default-pagination %}
{% include 'products-list' %}
{% include 'pagination' %}
{% endpaginate %}
{% include '__containers-close' %}
</section>
{% endif %}
{% endunless %}

{% if settings.collection-header-placement == 'below-products' %}
{% include 'collection-header' with collection %}
{% endif %}
</div>