{% assign navbar-placement = navbar | append: '-navbar-placement' %}
{% case settings[navbar-placement] %}
{% when 'fixed-to-top' %}
{% assign placement = 'navbar-fixed-top' %}
{% when 'fixed-to-bottom' %}
{% assign placement = 'navbar-fixed-bottom' %}
{% when 'static-top' or 'full-width' %}
{% assign placement = 'navbar-static-top' %}
{% when 'center-below-logo' %}
{% assign placement = 'navbar-below-logo' %}
{% else %}
{% assign placement = false %}
{% endcase %}

<nav id="navbar-{{ navbar }}" class="navbar navbar-default{% if placement %} {{ placement }}{% endif %}{% if navbar == 'main' %} hidden-xs{% endif %}{% if has_top_navbar == false and navbar == 'top' %} visible-xs{% endif %} " role="navigation">
  {% unless navbar == 'main' %}
  <div class="container">
    {% endunless %}
	
    {% if settings[navbar-placement] == 'fixed-to-top' and settings.logo-placement == "top-navbar-top" and settings.logo-image %}
		<a href="/">
		  <img src="{{ 'logo-image-file.png' | asset_url }}" alt="{{ shop.name }} {% include '__localize' with 'logo' %}" class="top-navbar-img img-responsive center-block">
		</a>
    {% endif %}
	
    {% if navbar == 'footer' %}
    <div class="collapse navbar-collapse" id="{{ navbar }}-nav">
      {% include 'navbar-menu' with 'footer-left' %}
      {% include 'navbar-menu' with 'footer-right' %}
    </div>
    {% endif %}
  
    {% unless has_top_navbar and navbar == 'main' %}
    <div class="navbar-header">
      {% if navbar == 'top' %}
      <ul class="nav navbar-icons visible-xs">
        {% if has_cart %}
			{% if settings.ajax-cart %}
				<li class="dropdown {% if template == 'cart' %} active{% endif %}">
					<a class="cartCount" href="/cart" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i> <span class="badge">{{ cart.item_count }}</span> <span class="caret"></span></a>     
					<ul class="cart-dropdown dropdown-menu" role="menu">
						<li class="divider"></li>
						<li class="cart-btns text-center">
							<a href="/cart" class="btn btn-primary ajax-cart-btn ajax-cart-view-btn">View Cart</a><a href="/checkout" class="btn btn-main ajax-cart-btn ajax-cart-checkout-btn">Checkout</a>
						</li>
					</ul>
				</li>
			{% else %}
			    <li{% if template == 'cart' %} class="active"{% endif %}><a href="/cart"><i class="fa fa-fw fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge cartCount">{{ cart.item_count }}</span>{% endif %}</a></li>
			{% endif %}
        {% endif %}
        {% if shop.customer_accounts_enabled %}
        <li{% if template contains 'customers' %} class="active"{% endif %}><a href="/account"><i class="fa fa-fw fa-user"></i></a></li>
        {% endif %}
      </ul>
      {% endif %}	
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ navbar }}-nav">
        <span class="sr-only">Toggle main navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if settings.logo-placement == "top-navbar" and navbar == 'top' %}<a class="navbar-brand{% if settings.logo-image %} navbar-brand-img{% endif %}" href="/">{% include 'logo' %}</a>{% endif %}
    </div>
    {% endunless %}
    
    {% unless navbar == 'footer' %}
    <div class="collapse navbar-collapse" id="{{ navbar }}-nav">
  
      {% if navbar == 'top' %}
      <div class="visible-xs">
        {% include 'navbar-main' %}
      </div>
      {% include 'navbar-menu' with 'top-left' %}
      {% include 'navbar-menu' with 'top-right' %}
      {% else %}
      {% include 'navbar-main' %}
      {% endif %}
    </div>
    {% endunless %}
    {% unless navbar == 'main' %}
  </div>
  {% endunless %}
</nav>