
{% if settings.main-menu-linklist %}
{% assign main_linklist = linklists[settings.main-menu-linklist] %}
  {% if main_linklist %}
  <ul class="nav navbar-nav {% if settings.main-menu-alignment == 'left' %}navbar-left{% elsif settings.main-menu-alignment == 'center' %}navbar-center{% elsif settings.main-menu-alignment == 'right' %}navbar-right{% endif %}">
    {% for l in main_linklist.links %}
    {% include 'navbar-link' %}
    {% endfor %}
  </ul>
  {% endif %}
{% endif %}