<div class="row{% if thumbnail_layout == 'masonry' %} masonry-collection{% endif %}">
	{% if template contains 'index' %}
		{% if t_object != blank %}
			{% assign product_collection = t_object %}
  		{% elsif products-list != blank %}
 			 {% assign product_collection = products-list %}
		{% else %}
			{% assign product_collection = collections[settings.homepage-products-collection] %}
		{% endif %}
	{% elsif collection %}
		{% assign product_collection = collection %}
	{% endif %}
	{% if template contains 'index' or products-list == 'limit' %}
	  {% if settings.homepage-products-limit contains 'unlimited' %}{% assign limit = nil %}{% else %}{% assign limit = settings.homepage-products-limit %}{% endif %}
	{% endif %}
	{% for p in product_collection.products | limit: limit %}
{%- if p.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
		{% assign product_count = forloop.length %}
		{% include 'product-loop' with p %}
	{% endfor %}
</div>