<style>
{%- for block in section.blocks -%}
    {%-if block.settings.title != "" -%}
    .bg_color_{{block.settings.title | handleize }}{
      {%-if block.settings.color_1_c != blank -%}
      background-color: {{block.settings.color_1_c}};
      {%-endif %}
      {%-if block.settings.color_1_c != blank and block.settings.color_2_c != blank %}
      background: {{block.settings.color_1_c}}; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient({{block.settings.color_1_c}} 50%, {{block.settings.color_2_c}} 50%); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient({{block.settings.color_1_c}} 50%, {{block.settings.color_2_c}} 50%); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient({{block.settings.color_1_c}} 50%, {{block.settings.color_2_c}} 50%); /* For Firefox 3.6 to 15 */
      background: linear-gradient({{block.settings.color_1_c}} 50%, {{block.settings.color_2_c}} 50%); /* Standard syntax (must be last) */
      {%-endif %}
      {%- if block.settings.color_img and block.settings.color_jpg != blank %}
      background-image: url({{ block.settings.color_jpg | img_url: img_size_sw, crop: 'center' | split:'?' | first }});
      {%-endif %}
    }
  {%-endif %}
{%- endfor -%}
</style>

<style>
#product-form > .product-variants{
  margin: 0;
}
.swatch {
  position: relative;
  clear: both;
}
.swatch_dropdown-wrapper .swatch{
  height: 85px;
}
.swatch .header{
  font-size: 18px;
}
.swatch-container {
  position: absolute;
}
.swatch-container select {
  color: black;
  cursor: pointer;
  border: 1px solid #CCC;
  padding: 12px;
  min-width: 250px;
  font-size: 15px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}
.swatch-container::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.swatch-container:hover::before {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}
.swatch-container:hover select{
  background: white;
}
.swatch-container select option {
  padding: 30px;
}

.swatch_image-wrapper .swatch label{
  height: auto!important;
}

</style>

<form id="{% include '__advanced-layout-id' with 'product-form' %}" action="/cart/add" method="post" role="form" enctype="multipart/form-data">

  <!-- START SHOPKEEPERS GIFT CARD CODE -->
  {% include 'skt_gc_lineitems' %}

  <div class="product-variants">

    {% if section.settings.swatch_type == "dropdown" %}
      <div class="swatch_dropdown-wrapper">


        {% if product.available and product.variants.size > 1 %}
          {% for option in product.options %}
            {% include 'swatch_dropdown' with option %}
          {% endfor %}
        {% endif %}

        <hr style="clear: both;" />
        
      </div>

    {% elsif section.settings.swatch_type == "button" %}
      <div class="swatch_button-wrapper">

        {% if product.available and product.variants.size > 1 %}
          {% for option in product.options %}
            {% include 'swatch' with option %}
          {% endfor %}
        {% endif %}


        <hr style="clear: both;" />
        
      </div>


    {% elsif section.settings.swatch_type == "image" %}

      <div class="swatch_image-wrapper">

        {% if product.available and product.variants.size > 1 %}
          {% for option in product.options %}
            {% include 'swatch_image' with option %}
          {% endfor %}
        {% endif %}

        <hr style="clear: both;" />
        
      </div>

    {% else %}

      <div class="swatch_dropdown-wrapper">

        {% if product.available and product.variants.size > 1 %}
          {% for option in product.options %}
            {% include 'swatch_dropdown' with option %}
          {% endfor %}
        {% endif %}

        {% comment %} <hr style="clear: both;" /> {% endcomment %}
        
      </div>


    {% endif  %}

    <div id="soldout-message" style="display:none;">Sorry, sold out</div>

        <div id="product--options-wrapper-main" class="product--options-wrapper" style="display:none;">
          {% for v in product.variants %}
            <div class="submit-radio-var-wrapper" id="submit-radio-var_{{forloop.index}}">
              <input {% if forloop.index == 1 %}checked{% endif %} type="radio" name="id" value="{{ v.id }}">
              <span class="submit-radio-var">{{ v.title }}</span> 
              |-<span class="submit-radio-qty">{{v.inventory_quantity}}</span>-|
              ==<span class="submit-radio-inv_management">{{v.inventory_management}}</span>
              ==<span class="submit-radio-inv_policy">{{v.inventory_policy}}</span>
              ==<span class="submit-radio-var_price">{{v.price}}</span>
            </div>
          {% endfor %}
        </div>


    {% if product.metafields.properties.size > 0 %}
    <div class="col-xs-12 col-lg-6">
      {% for l_item in product.metafields.properties %}
      {% assign key = l_item.first | split: ':' %}
      {% assign key_type = key.last %}
      {% assign key_title = key.first %}
      {% assign value = l_item.last %}
      <div class="form-group">
        <label>{{ key_title }}</label>
        {% if key_type == 'select' %}
        {% assign value_array = value | split: ',' %}
        <select class="form-control" name="properties[{{ key_title }}]">
          {% for v in value_array %}
          <option value="{{ v }}">{{ v }}</option>
          {% endfor %}
        </select>
        {% elsif key_type == 'text' %}
        <input type="text" class="form-control" name="properties[{{ key_title }}]" placeholder="{{ value }}" />
        {% elsif key_type == 'checkbox' %}
        <p><input type="checkbox" name="properties[{{ key_title }}]" value="{{ value }}" />&nbsp;{{ value }}</p>
        {% elsif key_type == 'file' %}
        <p><input type="file" id="{{ key_title }}" name="properties[{{ key_title }}]">&nbsp;<small><em>{{ value }}</em></small></p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% if product.template_suffix == 'quantity-limit-1' %}
  {% assign product_max_qty = 1 %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% elsif product.template_suffix == 'quantity-limit-2' %}
  {% assign product_max_qty = 2 %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% elsif product.template_suffix == 'quantity-limit-3' %}
  {% assign product_max_qty = 3 %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% elsif product.template_suffix == 'quantity-limit-4' %}
  {% assign product_max_qty = 4 %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% elsif product.template_suffix == 'quantity-limit' %}
  {% assign product_max_qty = settings.product-max-quantity  %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% endif %}
  <div class="row {% unless disable_btn == blank %} hidden{% endunless %}">
    <div class="col-sm-4 quantity-wrap">
      {% unless price_is_poa %}
      <div class="form-group">

        <input class="form-control input-lg" type="number" id="quantity" placeholder="Quantity" name="quantity" value="1" min="0"{% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} />
      </div>
      {% endunless %}
    </div>
    <div class="col-sm-8 add-to-cart-button-wrap">
      {% unless price_is_poa %}
      <div class="form-group">
        {% if product.template_suffix == 'preorder' %}
        {% assign cart_label = 'Preorder' %}
        {% else %}
        {% assign cart_label = 'Add to cart' %}
        {% endif %}	  
        <input type="submit" name="add" value="ADD TO CART" id="purchase" class="btn-main purchase-btn {% if product.template_suffix == 'preorder' %}preorder-btn{% endif %}" />
      </div>
      {% endunless %}
      {% if settings.secondary-call-to-action-url != blank %}
      <p class="secondary-call-to-action"><br><em>{% include '__localize' with settings.secondary-call-to-action-text %}</em><br><a href="{{ settings.secondary-call-to-action-url }}?title={{ product.title | replace: ' ', '%20' }}&handle={{ product.handle }}"><strong>{% include '__localize' with settings.secondary-call-to-action-link-text %}</strong></a></p>
      {% endif %}
{% comment %} 
      {% if settings.show-social-share-links %}
      <div class="share-icons">
        {% capture tweet %}https://twitter.com/intent/tweet?text={% include '__localize' with 'Check out' %} {{ page_title }}—{{ canonical_url }}{% unless settings.social-links-twitter == blank %} (via @{{ settings.social-links-twitter | split: '/' | last }}){% endunless %}{% endcapture %}
        {% capture email_subject %}{% include '__localize' with 'Check out' %} {{ page_title }}{% endcapture %}
        {% capture email_body %}{% include '__localize' with 'Hey' %}, {% include '__localize' with 'I was just looking at' %} {{ page_title }} {% include '__localize' with 'on' %} {{ shop.name }} {% include '__localize' with 'and wanted to share it with you' %}. {% include '__localize' with 'Check out' %} {{ canonical_url }}{% endcapture %}
        Share: 
        <a href="{{ tweet | replace: ' ','%20' }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
        <a href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ product.featured_image.src | product_img_url: '2048x2048' }}&description={{ page_title | replace: ' ','%20' }}" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
        <a href="mailto:?subject={{ email_subject | replace: ' ','%20' }}&body={{ email_body }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
      </div>
      {% endif %} {% endcomment %}
    </div>
  </div>
</form>

{% if settings.show-notify-me %}
<div class="row notify-me-wrapper">
  <div class="col-xs-12">
    {% form 'contact' %}
    <div class="notify-me-form well">
      <h3>{{ product.title }} is unavailable</h3>
      <p>{% include '__localize' with 'Leave your email address if you would like to be notified when it becomes&nbsp;available.' %}</p>
      <div class="alert" style="display: none"></div>
      <div class="form-group">
        <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
        <div class="input-group">
          <input class="form-control input-lg{% if form.errors contains 'email' %} error{% endif %}" id="{% include '__advanced-layout-id' with 'notify-input' %}" required="required" type="email" name="contact[email]" placeholder="your@email.com" value="{{ contact.fields.email }}" />
          <span class="input-group-btn">
            <input class="btn btn-primary btn-lg" type="submit" value="{% include '__localize' with 'Notify me' %}" >
          </span>
        </div>
      </div>
    </div>
    {% endform %}
  </div>
</div>
{% comment %} <hr> {% endcomment %}
{% endif %}



<script>
  jQuery(function() {
    // option selectors extended with boostrap markup and link options
      //new Shopify.BootstrapifyOptionSelectors("{% include '__advanced-layout-id' with 'product-select' %}", { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true{% unless settings.show-unavailable-products %}, linkOptions: true {% endunless %}});
      //{% for option in product.options %}
      //$('.single-option-selector:eq({{ forloop.index0 }})').prepend('<option value="">Pick a {{ product.options[forloop.index0] }}</option>').val('').trigger('change');
      //{% endfor %}

      if( $('.compare-at-price .compare-at-price-field').text() == "" ){
        $('.compare-at-price').hide();
      }

    {% if product.template_suffix == 'quantity-limit' %}
    $('.purchase-btn').on('click', function() {
      $('#product-form .row').hide();
    });
    {% endif %}
  });
</script>
