{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch_image == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch_image.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch_image' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch_image' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch_image %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch_image | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch_image.liquid with the name of a product option — <code>'{{ swatch_image }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch_image' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch_image' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
<div class="swatch clearfix" data-option-index="{{ option_index }}">
  {% if section.settings.swatch_title %}<div class="header">{{ swatch_image }}</div>{% endif %}
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
        <div class="tooltip">{{ value }}</div>
        {% endif %}
        <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
        {% if is_color %}
        <label class="bg_color_{{ value | split: ' ' | last | handle }}" for="swatch-{{ option_index }}-{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }};">
          <img src="{{ variant.image.src | img_url }}">
          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
        </label>
        {% else %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}">
          {{ value }}
          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
        </label>
        {% endif %}
      </div>
    {% endunless %}
      {% if variant.available %}
      <script>
        jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').children('input').removeAttr('disabled');
      </script>
      {% endif %}
    


  {% endfor %}
</div>

{% endunless %}

{% endif %}

<script>
  // Select Button product swatches options
  $('.swatch-element').click( function(evt) {
      setTimeout(function(){ 

        var s1 = $(".swatch[data-option-index=0] input:checked").val();
        var s2 = $(".swatch[data-option-index=1] input:checked").val();
        var s3 = $(".swatch[data-option-index=2] input:checked").val();

        if(typeof s3 != 'undefined' ){
          //console.log( s1+" ///// "+s2+" ///// "+s3 );
          $('.submit-radio-var').each( function() {
            if( $(this).text() == s1+" / "+s2+" / "+s3){
              $(this).prev('input').trigger('click');
              if( $(this).next('.submit-radio-qty').text() <= 0 && $(this).next('.submit-radio-qty').next('.submit-radio-inv_management').text() != '' && $(this).next('.submit-radio-qty').next('.submit-radio-inv_management').next('.submit-radio-inv_policy').text() != 'continue' ){
                $('#soldout-message').fadeIn();
              }else{$('#soldout-message').fadeOut();}
            }
          });
        }
        else if(typeof s2 != 'undefined' ){
          //console.log( s1+" ///// "+s2 );
          $('.submit-radio-var').each( function() {
            if( $(this).text() == s1+" / "+s2){
              $(this).prev('input').trigger('click');
              if( $(this).next('.submit-radio-qty').text() <= 0 && $(this).next('.submit-radio-qty').next('.submit-radio-inv_management').text() != '' && $(this).next('.submit-radio-qty').next('.submit-radio-inv_management').next('.submit-radio-inv_policy').text() != 'continue' ){
                $('#soldout-message').fadeIn();
              }else{$('#soldout-message').fadeOut();}
            }
          });
        }
        else if(typeof s1 != 'undefined' ){
          //console.log( s1+" ///// " );
          $('.submit-radio-var').each( function() {
            if( $(this).text() == s1){
              $(this).prev('input').trigger('click');
              if( $(this).next('.submit-radio-qty').text() <= 0 && $(this).next('.submit-radio-qty').next('.submit-radio-inv_management').text() != '' && $(this).next('.submit-radio-qty').next('.submit-radio-inv_management').next('.submit-radio-inv_policy').text() != 'continue' ){
                $('#soldout-message').fadeIn();
              }else{$('#soldout-message').fadeOut();}
            }
          });
        }
        
          var moneyFormat = "{% if settings.show-currency-with-prices == 'with-currency' %}{{ shop.money_with_currency_format }}{% else %}{{ shop.money_format }}{% endif %}"; 
          var varPrice = $('.submit-radio-var-wrapper input:checked').parent().children('.submit-radio-var_price').text();
          var formattedMoney = Shopify.formatMoney(varPrice, moneyFormat);
          $('.price-field').html('<span class="money">'+formattedMoney+'</span>'); 

          var compareAtPrice = $('.compare-at-price .compare-at-price-field');
          var comparePrice = parseInt(compareAtPrice.text());
          if(comparePrice > 0){
            var compareAtFormattedMoney = Shopify.formatMoney(comparePrice, moneyFormat); 
            compareAtPrice.show().find('.compare-at-price-field').html('<span class="money">'+compareAtFormattedMoney+'</span>');
          }

        var newColorImage = {{ product.variants | json }};
        var newNumOrder = $('#product-form').find(".submit-radio-var-wrapper").children(':checked').parent().attr('id');
            newNumOrder = newNumOrder.split('_');
            newNumOrder = parseInt(newNumOrder[1]) - 1;
            newNumOrder = newColorImage[newNumOrder];
            $('.product-main-image').children('img').attr('src',newNumOrder.featured_image.src);
            $('.product-main-image').children('img').not('.zoomImg').css('width','480px');

      }, 100);
  });
</script>