<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' | script_tag }}

    <style>
        .order-summary__section--discount {
            display: block;
        }

        .tags-list {
            /*display: none;*/
        }

        #error-for-reduction_code {
            display: none;
        }
      .section.section--shipping-method .section__header:after {
          content: "Important: Express shipping is recommended for rural addresses to ensure the product arrives within the proper time frame and at proper temperature.";
          font-style: italic;
          font-size: 13px;
      }
    </style>
</head>
<body>
{{ skip_to_content_link }}

<header class="banner" data-header role="banner">
    <div class="wrap">
        {{ content_for_logo }}
    </div>
</header>
{{ order_summary_toggle }}
<div class="content" data-content>
    <div class="wrap">
        <div class="main">
            <header class="main__header" role="banner">
                {{ content_for_logo }}
                {{ breadcrumb }}
                {{ alternative_payment_methods }}
            </header>
            <main class="main__content" role="main">
                {{ content_for_layout }}
            </main>
            <footer class="main__footer" role="contentinfo">
                {{ content_for_footer }}
            </footer>
        </div>
        <aside class="sidebar" role="complementary">
            <div class="sidebar__header">
                {{ content_for_logo }}
            </div>
            <div class="sidebar__content">
                {{ content_for_order_summary }}
            </div>
        </aside>
    </div>
</div>

{{ tracking_code }}
{# --- develop --- #}
<!-- {% assign hmac = checkout.id | hmac_sha256: "e1c9db24f64622615afefe0371a16889aac01176e15a9181a06992d56ec54094" %} -->

{# --- production --- #}
{% assign hmac = checkout.id | hmac_sha256: "f281ef8bb1e92b8667e478d25e6670c3092887ab43ba1a8ae86f90c0e33eb486" %}

<script>
    // --- production --- //
    const apiUrl = 'https://onelive-aloha-giftcard.herokuapp.com';

    // --- develop --- //
    // const apiUrl = 'https://1600b42f6265.ngrok.io';

    const cardApplyEndpoint = '/api/giftcard?XDEBUG_SESSION_START=1';
    const cardCloseEndpoint = '/api/close-card?XDEBUG_SESSION_START=1';

    const giftFormSelector = '.order-summary__section--discount';
    const formWrapperSelector = '.order-summary__sections';
    const applyBtnSelector = '.field__input-btn';
    const giftCardSelector = '.order-summary__section #checkout_reduction_code';
    const cardCloseBtnSelector = '.tag__button';
    let applyBtnEventId = 0;

    /**
     * Please handle main events
     */
    $(document).on(`page:load`, function () {
        $(formWrapperSelector).on('click', function (e) {
            const className = $(e.target)[0].className;

            if ((typeof className == 'string' && className.indexOf('field__input-btn') > -1)
                || $(e.target).parents(applyBtnSelector).length
            ) {
                onApplyBtn(e);
            } else if((typeof className == 'string' && className.indexOf('tag__button') > -1)
            || $(e.target).parents(cardCloseBtnSelector).length) {
                onCardCloseBtn(e);
            }
        });
    });

    /**
     *  main event functions
     */
    function onApplyBtn(e) {
        if (applyBtnEventId === 1) {
            applyBtnEventId = 0;
            return;
        }

        const _this = $(e.currentTarget).find(applyBtnSelector);

        e.preventDefault();

        if (_this.hasClass('btn--loading')) {
            return;
        }

        const giftCard = $(giftCardSelector).val();
        let data = {
            'checkout_id': '{{ checkout.id }}',
            'giftcard': giftCard,
            'price': getDueAmount()
        };

        _this.addClass('btn--loading');

        $.ajax({
            url: apiUrl + cardApplyEndpoint,
            headers: {
                'X-Shopify-Hmac-Sha256': '{{ hmac }}'
            },
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            cache: false,
            data: JSON.stringify(data)
        }).done((response) => {
            $(giftCardSelector).val(response.data.card.code);
            applyBtnEventId = 1;
            _this.click();
        }).fail((err) => {
            updateErrorMessage(err.responseJSON.message);
            applyBtnEventId = 1;
            _this.click();
        });
    }

    function onCardCloseBtn(e) {
        const closeBtn = $(e.currentTarget).find(cardCloseBtnSelector);

        const cardNum = closeBtn.closest('.tag__wrapper').find('.reduction-code span').first();
        const cardText = cardNum.html();
        const last4 = cardText.replace('•••• ', '').toLowerCase();
        const data = {
            'checkout_id': '{{ checkout.id }}',
            'last4': last4
        };

        $.ajax({
            url: apiUrl + cardCloseEndpoint,
            headers: {
                'X-Shopify-Hmac-Sha256': '{{ hmac }}'
            },
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            cache: false,
            data: JSON.stringify(data)
        }).done((response) => {
           console.log(response);
        }).fail((err) => {
           console.log(err);
        });
    }

    /**
     *  Helper functions
     */
    function updateErrorMessage(message) {
        const errorTagSelector = '.order-summary__section #error-for-reduction_code';
        $(errorTagSelector).text('');
        let interval = setInterval(function () {
            const errorSelector = $(errorTagSelector);
            const errorMessage = errorSelector.text();
            console.log(errorMessage);
            if (errorMessage) {
                // update error message
                errorSelector.text(message)

                // Show Error Message
                errorSelector.css('display', 'block');

                // close The interval
                clearInterval(interval);
            }
        }, 500);
    }

    function getDueAmount() {
        const selector = '.payment-due__price';
        const attr = 'data-checkout-payment-due-target';
        const val = $(selector).attr(attr);

        return parseInt(val, 10);
    }
  

    $( document ).ready(function() {
        console.log( "ready to add shipping text!" );
        $( ".section--shipping-address h2" ).append( '<p style="text-decoration: underline; color: red;  margin-top: 10px;">Please ensure the address you entered is valid as Perry’s Steakhouse Online is not responsible for shipping errors due to invalid delivery addresses</p>' );
    });
  
</script>
</body>
</html>
