{%- assign product = all_products[section.settings.featured_product] -%}

<script>
window.BOLD.common.Shopify.saveProduct({{ product.handle | json }}, {{ product.id | json }});
  {%- for variant in product.variants -%}{%- assign csp_metafield_namespace = variant.id | prepend: "csp" -%}window.BOLD.common.Shopify.saveVariant({{ variant.id | json }}, { product_id: {{ product.id | json }}, product_handle: {{ product.handle | json }}, price: {{ variant.price | json }}, group_id: '{{variant.metafields.bold_rp.rp_group_id}}', csp_metafield: {{ product.metafields[csp_metafield_namespace] | json }}});{%- endfor -%}
</script>

{% if t_object != blank %}
{% assign product = t_object %}
{% endif %}
{% capture vars %}
{% assign selected_or_first_variant = product.selected_or_first_available_variant %}
{% if product.featured_image == blank %}
{% include 'image-placeholder' %}
{% else %}
{% capture image %}
{% assign featured_image = selected_or_first_variant.featured_image | default: product.featured_image %}
{% unless settings.container-width-large-devices contains 'px' %}{% assign product_img_size = '1024x1024' %}{% else %}{% assign product_img_size = 'master' %}{% endunless %}
<img src="{{ featured_image.src | product_img_url: 'master' }}" alt="{{ featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}
{% include '__poa-tag' with product %}

{% comment %} <section id="{% include '__advanced-layout-id' with 'product-wrap' %}" class="product-wrap section-wrap"> {% endcomment %}
  {% include '__containers-open' %}
  <div class="visible-xs">
    <h1 class="page-header" itemprop="name">{{ product.title }}</h1>
  </div>

  <div class="row" itemscope itemtype="http://data-vocabulary.org/Product">

    <!-- images col -->
    <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
      <div class="row product-images">
        <div class="col-xs-12 col-sm-12">
          <div class="thumbnail product-main-image">
            {{ image }}
          </div>
        </div>
        {% if product.images.size > 1 %}
        {% for image in product.images %}
        <div class="col-xs-2">
          <div class="thumbnail">
            <div class="thumbnail-image product-main-thumb">
              <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                {{ image.src | product_img_url: 'master' | img_tag: image.alt }}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>

    <!-- details col -->
    <div id="product-details" class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
      <div class="featured-product-sup-wrapper">
        <div class="featured-product-sup-container">
          <h1>STEAKHOUSE ONLINE</h1>
          <h4>Orders ship daily Monday - Thursday</h4>

          <div class="share-icons">
            {% capture tweet %}https://twitter.com/intent/tweet?text={% include '__localize' with 'Check out' %} {{ page_title }}—{{ canonical_url }}{% unless settings.social-links-twitter == blank %} (via @{{ settings.social-links-twitter | split: '/' | last }}){% endunless %}{% endcapture %}
            {% capture email_subject %}{% include '__localize' with 'Check out' %} {{ page_title }}{% endcapture %}
            {% capture email_body %}{% include '__localize' with 'Hey' %}, {% include '__localize' with 'I was just looking at' %} {{ page_title }} {% include '__localize' with 'on' %} {{ shop.name }} {% include '__localize' with 'and wanted to share it with you' %}. {% include '__localize' with 'Check out' %} {{ canonical_url }}{% endcapture %}
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
            <a href="{{ tweet | replace: ' ','%20' }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
            <a href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ product.featured_image.src | product_img_url: '2048x2048' }}&description={{ page_title | replace: ' ','%20' }}" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
            <a href="mailto:?subject={{ email_subject | replace: ' ','%20' }}&body={{ email_body }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
          </div>


        </div>
      </div>
      <h1 class="hidden-xs" itemprop="name">{{ product.title }}</h1>
      {% include 'product-badges' %}

      {% unless product.price == 0 %}
      <div class="product-price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <span class="price-field">{% include 'product-price' with selected_or_first_variant.price %}</span>
        {% if settings.append-plus-taxes-to-price %}<small class="text-muted"> {% include '__localize' with 'plus taxes' %}</small>{% endif %}
        {% comment %} <small class="compare-at-price text-muted"><del>{% include '__localize' with 'was' %} <span class="compare-at-price-field"></span></del></small> {% endcomment %}
        {% include 'product-labels' with product %}
        <meta itemprop="currency" content="{{ shop.currency }}" />
        <meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
      </div>

      {% include 'shappify-sales-clock' with product %}
      {% include 'product-availability' with product %}
      {% if product.metafields.external-url != blank %}
        <a href="{{ product.metafields.external-url.external-url }}" target="_blank" id="purchase" class="addtocart  btn-main purchase-btn btn-primary">
          {{ product.metafields.external-button.external-button }}
        </a><br />
      {% else %}
        {% include 'product-add-to-cart-form' %}
      {% endif %} 
      {% endunless %}

      {% if product.metafields.custom_links.size > 0 %}
      <ul class="custom-links">
        {% for l in product.metafields.custom_links %}
        <li><a href="{{ l.last }}" class="btn btn-default" title="{{ l.first }}" target="_blank">{{ l.first }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if product.metafields.custom_images.size > 0 %}
      <ul class="custom-images">
        {% for l in product.metafields.custom_images %}
        <li><img src="{{ l.last }}" class="custom-image" alt="{{ l.first }}"></li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="after-content">
        {% unless settings.after_cart_content == blank %}
        {{ settings.after_cart_content }}
        {% endunless %}
      </div>

      {% include 'product-description' %}

      {% include 'product-specs' %}   		  
    </div>
  </div>

<hr />

  {% include '__containers-close' %}
{% comment %} </section> {% endcomment %}

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}



<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_image -%}
    {%- assign image_size = product.featured_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_image.src | img_url: image_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

{% schema %}
{
  "name": "Featured product",
  "class": "index-section index-section--featured-product",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "category": "Product"
    }
  ]
}
{% endschema %}
