{% include '__containers-open' %}
  {% if section.settings.title != blank %}
    <header class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </header>
  {% endif %}

  {%- assign blog = blogs[section.settings.blog] -%}

  {% unless blog.articles_count == 0 %}
    <div class="blog__wrapper">
      {% for article in blog.articles limit: section.settings.post_limit %}
        <div class="blog__item">
          <a href="{{ article.url }}" class="blog__link">
            {% if article.image %}
              {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              <div id="{{ img_wrapper_id }}" class="blog__image-wrapper">
                <div class="blog__image-container">
                  <img id="{{ img_id }}"
                      class="blog__image lazyload"
                      src="{{ article.image | img_url: '300x300' }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="">
                </div>
              </div>
              <noscript>
                <div class="blog__image-wrapper">
                  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                </div>
              </noscript>
            {% endif %}

            <h3 class="blog__title{% if article.image %} blog__title--has-image{% endif %}">{{ article.title }}</h3>
          </a>

          <div class="blog__grid-meta{% if article.image %} blog__has-image{% endif %}">
            {% if section.settings.blog_show_author %}
              <span class="blog__author">{{article.author}}</span>
            {% endif %}

            {% if section.settings.blog_show_date %}
              <span class="blog__date">
                {{ article.published_at | time_tag: format: 'date' }}
              </span>
            {% endif %}

            <div class="blog__excerpt">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                {{ article.content | strip_html | truncate: 150 }}
              {% endif %}
            </div>

            {% if article.tags.size > 0 and section.settings.blog_show_tag %}
              <div class="blog__tags">
                <ul class="blog__list--inline">
                  {% for tag in article.tags %}
                    <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="blog__grid-tag">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            <div class="blog__btn">
              <a href="{{ article.url }}" class="btn btn-primary">View Blog</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="blog__wrapper">
      {% for i in (1..section.settings.post_limit) %}
        <div class="blog__item">
          <h3 class="blog__title"><a href="#">Your post's title</a></h3>

          {% if section.settings.blog_show_author %}
            <span class="blog__author">John Doe</span>
          {% endif %}

          <div class="blog__excerpt">
            There are no Blog posts posted yet. Use blogs to post more about your store including your message, your products, and anything else you want to share with your customers.
          </div>

          <div class="blog__btn">
            <a href="{{ article.url }}" class="btn btn-primary">View Blog</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endunless %}

  {% if section.settings.show_view_all %}
    <hr class="hr--invisible" />
    <div class="text-center blog__view-all">
      <a href="{{ blog.url }}" class="btn btn-primary">View All</a>
    </div>
  {% endif %}


{% include '__containers-close' %}



{% schema %}
{
  "name": "Blog posts",
  "class": "index-section index-section--blog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_tag",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News",
        "post_limit": 3
      }
    }
  ]
}
{% endschema %}
