
	
{% if section.settings.slider_animation == "fade" %}
  {% assign sliderAnimation = true %}
{% else %}
  {% assign sliderAnimation = false %}
{% endif %}

{% if section.settings.slider_width %}
  {% include '__containers-open' %}
{% endif %}


<div class="slider-blocks-wrapper" data-speed="{{section.settings.slider_speed}}000" data-fade="{{sliderAnimation}}" data-adaptiveHeight="{{sliderAnimation}}">
  {% for block in section.blocks %}

    <div class="slider-blocks-container" {{ block.shopify_attributes }}>
      {% if block.settings.slider_image != blank %}
        {{ block.settings.slider_image | img_url: 'master' | img_tag: block.settings.slider_image.alt, 'slider-image-blocks__image' }}
      {% else %}
        {% capture i %}{% cycle "1", "2" %}{% endcapture %}
        {{ 'lifestyle-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg__slider' }}
      {% endif %}
    </div>


  {% endfor %}
</div>


{% if section.settings.slider_width %}
  {% include '__containers-close' %}
{% endif %}




{% schema %}

{
  "name": "Slider Gallery",
  "class": "index-section index-section--featured-slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "slider_width",
      "label": "Use site width",
      "default": true
    },
    {
      "type": "select",
      "id": "slider_animation",
      "label": "Slider transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "range",
      "id": "slider_speed",
      "label": "Change slides every",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec"
    },
    {
      "type": "checkbox",
      "id": "slider_adaptiveHeight",
      "label": "Enable adaptive height",
      "info": "Slider will adjust based on height of individual slides"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slider_image",
          "label": "Image",
          "info": "1600 x 1000px recommended"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Slider Gallery",
    "category": "Image",
    "settings": {
    },
    "blocks": [
      {
        "type": "image",
        "settings": {
          "slider_image": ""
        }
      },
      {
        "type": "image",
          "settings": {
          "slider_image": ""
        }
      }
    ]
  }]
}

{% endschema %}