{% include '__containers-open' %}
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <ul class="image-blocks image-blocks-per-row--{{section.settings.rows}}">
      {% for block in section.blocks %}
        <li class="image-blocks__item" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="image-blocks__link">
          {% endif %}
          {% if block.settings.image != blank %}
            {{ block.settings.image | img_url: 'master' | img_tag: block.settings.image.alt, 'image-blocks__image' }}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="image-blocks__text">{{ block.settings.text }}</div>
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}

{% include '__containers-close' %}




{% schema %}
{
  "name": "Image Blocks",
  "class": "index-section index-section--image-blocks",
  "max_blocks": 24,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Images per Row",
      "max": 6,
      "min": 1,
      "step": 1,
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "info": "Optional"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Blocks",
      "category": "Image",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
