<footer id="global-footer">
        <div class="row">
            <div class="column large-8 large-centered medium-10 medium-centered small-12 text-center">
              <p class="small fees">*Perry’s offers three shipping options. Total days to deliver is based on day of week ordered and selected shipping method. $9.99 Standard Shipping (Ground) $29.99 Express Shipping (2-Day Air). $49.99 Overnight Shipping (1-Day Air).</p>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 medium-3 large-3 large-offset-1 text-center">
                {% comment %}<img class="logo" src="{{ 'Perrys-Steakhouse-Grille-Logo-Gr-Opt.svg' | asset_url }}" alt="Perry's Steakhouse &amp; Grille - Rare and Well Done Logo">{% endcomment %}
                <img class="logo" src="{{ 'footer-logo2.jpg' | asset_url }}" alt="Perry's Steakhouse &amp; Grille - Rare and Well Done Logo">              
            </div>
            <div class="columns small-12 medium-8 large-6 text-center medium-text-left">
                <nav>

                    <ul id="footer-menu" class="footer-menu row small-up-1 medium-up-2 large-up-3">
                      <li id="menu-item-22" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                        <a style="color: #d0af21;" href="https://perryssteakhouse.com/join-email/">JOIN OUR EMAIL LIST</a> 
                      </li>
                      <li id="menu-item-22" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                        <a style="color: #d0af21;" href="/pages/shipping-policy">SHIPPING POLICY</a> 
                      </li>
                      <li id="menu-item-22" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                        <a style="color: #d0af21;" href="/pages/site-use-terms-conditions">Terms &amp; Conditions</a>
                      </li>                   
                      {% comment %}   
                        <li id="menu-item-22" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                          <a href="https://perryssteakhouse.com/join-email">Join Our Email List</a>
                        </li>                          
                        <li id="menu-item-30" class="column menu-locations-dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-30"><a href="#">Menu &amp; Locations</a></li>                      
                        <span>&nbsp;</span>  <span>&nbsp;</span>  <span>&nbsp;</span> 
                        <li id="menu-item-22" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="https://perryssteakhouse.com/about-us/">About Us</a></li>
                        <li id="menu-item-25" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="https://perryssteakhouse.com/contact-us/">Contact Us</a></li>
                        <li id="menu-item-19893" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-19893"><a href="https://perryssteakhouse.com/plan-an-event/">Plan an Event</a></li>
                        <li id="menu-item-23" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="https://perryssteakhouse.com/experience/">Experience</a></li>
                        <li id="menu-item-28" class="column menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-28"><a href="https://perryssteakhouse.com/news-awards/">News &amp; Awards</a></li>
                        <li id="menu-item-21" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="https://perryssteakhouse.com/bar-79/">Bar 79</a></li>
                        <li id="menu-item-20667" class="column menu-item menu-item-type-custom menu-item-object-custom menu-item-20667"><a href="https://onelink.quickgifts.com/merchant/perrys-restaurants/">Gift Cards</a></li>
                        <li id="menu-item-22" class="column menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                            <a target="_blank" href="https://perryssteakhouse.com/employment">Employment</a>
                        </li>                        
                     {% endcomment %} 
                    </ul>
                    <ul id="menu-social-menu" class="social-icons"><li id="menu-item-32" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32"><a target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/PerrysDining/"><i class="fa fa-facebook"></i></a></li>
                      <li id="menu-item-19704" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19704"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/perryssteakhouse"><i class="fa fa-instagram"></i></a></li>
                      <li id="menu-item-33" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33"><a target="_blank" rel="noopener noreferrer" href="http://twitter.com/PerrysDining"><i class="fa fa-twitter"></i></a></li>
                      <li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34"><a target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/user/PerrysDining"><i class="fa fa-youtube-play"></i></a></li>
                      <li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35"><a target="_blank" rel="noopener noreferrer" href="http://pinterest.com/perrysdining/"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>    
                 
                </nav>
            </div>
        </div>
        <div class="copyright">
            <div class="row">
                <div class="columns small-12 text-center">
                    <p>© 2020 Perry's Steakhouse &amp; Grille All Rights Reserved 
                      {% comment %}                           
                        <span>&nbsp;</span> <a href="/pages/shipping-policy">SHIPPING POLICY</a> <span>&nbsp;</span> <a href="https://perryssteakhouse.com/terms-conditions">Terms &amp; Conditions</a> <span>&nbsp;</span> <a href="https://perryssteakhouse.com/join-email">Join Our Email List</a> <span>&nbsp;</span> <a target="_blank" href="https://perryssteakhouse.com/employment">Employment</a>
                      {% endcomment %}                           
                    </p>
                </div>
            </div>
        </div>
        <div class="rest-group">
            <div class="row">
                <div class="columns small-12 text-center">
					        <a href="http://perrysrestaurants.com/" target="_blank"><img src="{{ 'PerrysRestaurantsLogo.png' | asset_url }}" alt="Perry's Restaurants Logo"></a>
					        <p>Learn more about our other restaurants at <a href="http://perrysrestaurants.com/" target="_blank">PerrysRestaurants.com</a>.</p>
                </div>
            </div>
        </div>
    </footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "range",
        "id": "grid",
        "label": "Footer Columns",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 1
      },
      {
        "type": "header",
        "content": "Column 1"
      },
      {
        "type": "select",
        "id": "footer_template",
        "options": [
          {
            "value": "OLM",
            "label": "OLM"
          },
          {
            "value": "Manhead",
            "label": "Manhead"
          },
          {
            "value": "sandbag",
            "label": "Sandbag"
          },
          {
            "value": "standard",
            "label": "standard"
          }
        ],
        "label": "Footer Template"
      },
      {
        "type": "text",
        "id": "footer_powered_by_hyperlink",
        "label": "Footer Powered by Hyperlink"
      },
      {
        "type": "text",
        "id": "footer_powered_by_title",
        "label": "Footer Powered by Title"
      }
    ],
    "blocks": [
      {
        "type": "footer",
        "name": "Footer Columns",
        "settings": [
          {
            "type": "blog",
            "id": "column-blog",
            "label": "Blog"
          },
          {
            "type": "link_list",
            "id": "column-menu",
            "label": "Menu"
          },
          {
            "type": "text",
            "id": "column-title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "column-text",
            "label": "Text"
          },
          {
            "type": "paragraph",
            "content": "Footer Newsletter"
          },
          {
            "type": "checkbox",
            "id": "enable-footer-newsletter",
            "label": "Yes"
          },
          {
            "type": "paragraph",
            "content": "Social Links"
          },
          {
            "type": "checkbox",
            "id": "enable-footer-social-links",
            "label": "Yes"
          },
          {
            "type": "paragraph",
            "content": "Custom Footer Logo"
          },
          {
            "type": "checkbox",
            "id": "enable-custom-footer-logo",
            "label": "Yes"
          },
          {
            "type": "image_picker",
            "id": "custom-footer-logo-file",
            "label": "Custom Footer Logo Image File"
          },
          {
            "type": "text",
            "id": "custom-footer-logo-url",
            "label": "Custom Footer Logo URL"
          },
          {
            "type": "paragraph",
            "content": "The footer can have up to four columns which can contain none, one or all of a blog, menu (linklist), html text or social media icons."
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
