{% comment %} 
{% include '__containers-open' %}
{% include '__containers-close' %} 
{% endcomment %}

<div id="myCanvasNav"></div>

{% if section.settings.fixed_annoucement_bar or section.settings.fixed_top_bar or section.settings.fixed_main_menu %}
  <div class="clone-fixed-menu"></div>
{% endif %}

<style>
.top-announcement_bar-wrapper{
  background-color: {{ section.settings.colorbkg_announcement_bar }}; 
  color: {{ section.settings.color_announcement_bar }};
}
.top-nav-wrapper, li.top-more > .top-secondary{
  background-color: {{ section.settings.colorbkg_top_bar }}; 
  color: {{ section.settings.color_top_bar }};
}
li.top-more > .top-secondary:before{
  border-color: transparent transparent {{ section.settings.colorbkg_top_bar }} transparent;
}
.top-nav-wrapper a, li.top-more > .top-secondary a, .top-nav-wrapper span{
  color: {{ section.settings.color_top_bar }};
}

.main-menu-nav-wrapper, .main-menu-nav-wrapper .not-aligned-together{
  background-color: {{ section.settings.colorbkg_main_menu }}; 
  color: {{ section.settings.color_main_menu }};
}
.main-menu-nav-wrapper a{
  color: {{ section.settings.color_main_menu }};
}
</style>

{% comment %} Announcement Bar - START {% endcomment %}
{% if section.settings.announcement_bar != blank and section.settings.check_announcement_bar %}
  <div class="top-announcement_bar-wrapper{% if section.settings.fixed_annoucement_bar %} fixed-nav{% endif %}{% if section.settings.check_announcement_bar_x == false %} always-on{% endif %}">
    <div class="top-announcement_bar-text">{{ section.settings.announcement_bar }}</div>
    {% if section.settings.check_announcement_bar_x %}
        <div class="top-announcement_bar-x">
          <div class="close-container">
            <div class="leftright"></div>
            <div class="rightleft"></div>
            <label class="close">close</label>
          </div>
        </div>
    {% endif %}
  </div>
{% endif %}
{% comment %} Announcement Bar - END {% endcomment %}

{% comment %} Top Menu - START {% endcomment %}
{% if section.settings.check_top_show_bar %}
  <nav class="{% if section.settings.check_top_smoosh %}top-tabs{% else %}no-top-tabs{% endif %} top-nav-wrapper{% if section.settings.fixed_top_bar %} fixed-nav{% endif %}">
    {% if section.settings.check_top_site_width %}{% include '__containers-open' %}{% endif %}

    {% if section.settings.check_top_show_social_media %}
      <span class="top-nav-social">{% include 'social-links' %}</span>
    {% endif %}

    {% if section.settings.top_phone %}
      <span class="top-nav-phone">{{ section.settings.top_phone }}</span>
    {% endif %} 

    {% if section.settings.top_menu != blank %}
      <ul class="top-nav-ul_menu tabs-top-primary">
        {% capture main_menu_top %}
          {% for link in linklists[section.settings.top_menu].links %}
            <li class="top-nav-li_item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        {% endcapture %}
        {{main_menu_top}}
      </ul>
    {% endif %}

    
    <ul class="top-nav-extra-ul_menu">

      {% capture top_nav_extra_menu %}
      
        {% if shop.customer_accounts_enabled and section.settings.show_account %}
          <li class="dropdown hidden-xs{% if template contains 'customers' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
            <ul class="dropdown-menu">
              {% if customer %}
              <li><a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a></li>
              <li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
              {% else %}
              <li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
              <li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>
              {% endif %}
            </ul>
          </li>
        {% endif %}


        {% if section.settings.show_cart %}
          {% if section.settings.ajax_cart %}
            <li class="dropdown hidden-xs{% if template == 'cart' %} active{% endif %}">
              <a class="cartCount" href="/cart" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i> <span class="badge">{{ cart.item_count }}</span> <span class="caret"></span></a>     
              <ul class="cart-dropdown dropdown-menu" role="menu">
                <li class="divider"></li>
                <li class="cart-btns text-center">
                  <a href="/cart" class="btn btn-primary ajax-cart-btn ajax-cart-view-btn">View Cart</a><a href="/checkout" class="btn btn-main ajax-cart-btn ajax-cart-checkout-btn">Checkout</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="hidden-xs{% if template == 'cart' %} active{% endif %}">
              <a class="cartCount" href="/cart"><i class="fa fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge">{{ cart.item_count }}</span>{% endif %}</a>
            </li>
          {% endif %}
        {% endif %}


        {% if section.settings.show_currency %}
          {% include 'currency-switcher' %}
        {% endif %}
        {% if section.settings.show_search %}
          {% include 'search-form' %}
        {% endif %}


      {% endcapture %}
      {{top_nav_extra_menu}}

    </ul>

    {% if section.settings.check_top_site_width %}{% include '__containers-close' %}{% endif %}
  </nav>
{% endif %}
{% comment %} Top Menu - END {% endcomment %}

{% comment %} Main Menu - START {% endcomment %}
{% if section.settings.check_main_menu_show %}
  <div class="main-menu-nav-wrapper{% if section.settings.fixed_main_menu %} fixed-nav{% endif %}">
    {% if section.settings.check_main_menu_site_width %}{% include '__containers-open' %}{% endif %}

    <div class="main-menu-mobile-btn-wrapper">
      <button type="button" class="main-menu-navbar-toggle" data-toggle="collapse" data-target="#{{ navbar }}-nav">
        <span class="sr-only">Toggle main navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    {% if section.settings.logo_placement == 'above-main-menu' %}
      <div class="main-menu-nav-logo-center-wrapper not-aligned-together-logo">
        {% if section.settings.logo != blank %}
          <a href="/">
            <img width="{{  section.settings.logo-height }}" src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name }}">
          </a>
        {% else %}
          <a href="/">{{ shop.name }}</a>
        {% endif %}
      </div>
    {% endif %}

    {% if section.settings.main_menu_left != blank %}
      <div class="main-menu-nav-left-wrapper{% if section.settings.logo_alignment == 'left' %} main-menu-logo-left{% else %} main-menu-logo-center{% endif %}{% if section.settings.main_menu_right == blank %} main-menu-logo-left-no-right{% endif %}{% if section.settings.logo_placement != 'main-menu' %} not-aligned-together{% endif %}{% if section.settings.logo_placement != 'main-menu' and section.settings.main_menu_left != blank %} both-menus{% endif %}{% if section.settings.logo_placement != 'main-menu' and section.settings.main_menu_right == blank %} one-menu{% endif %}">
        <div class="utility-bar">
          <a href="//perryssteakhouse.com/locations/" class="res-btn">MAKE A RESERVATION</a>
          <div class="loc-status">
              <p class="details"><a href="//perryssteakhouse.com/to-go/">To-Go Menu</a></p>
          </div>
				</div>
        <ul class="main-menu-nav-left-ul_menu">
          {% capture main_menu_left %}
            {% for link in linklists[section.settings.main_menu_left].links %}
            
              {% if link.title contains 'cart' %}
                {% if shop.customer_accounts_enabled and section.settings.show_account %}
                  <li class="dropdown hidden-xs{% if template contains 'customers' %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                    <ul class="dropdown-menu">
                      {% if customer %}
                      <li><a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a></li>
                      <li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
                      {% else %}
                      <li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
                      <li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

              {% elsif link.title contains 'account' %}
                {% if section.settings.show_cart %}
                  {% if section.settings.ajax_cart %}
                    <li class="dropdown hidden-xs{% if template == 'cart' %} active{% endif %}">
                      <a class="cartCount" href="/cart" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i> <span class="badge">{{ cart.item_count }}</span> <span class="caret"></span></a>     
                      <ul class="cart-dropdown dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li class="cart-btns text-center">
                          <a href="/cart" class="btn btn-primary ajax-cart-btn ajax-cart-view-btn">View Cart</a><a href="/checkout" class="btn btn-main ajax-cart-btn ajax-cart-checkout-btn">Checkout</a>
                        </li>
                      </ul>
                    </li>
                  {% else %}
                    <li class="hidden-xs{% if template == 'cart' %} active{% endif %}">
                      <a class="cartCount" href="/cart"><i class="fa fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge">{{ cart.item_count }}</span>{% endif %}</a>
                    </li>
                  {% endif %}
                {% endif %}

              {% elsif link.title contains 'currency' %}
                {% if section.settings.show_currency %}
                  {% include 'currency-switcher' %}
                {% endif %}

              {% elsif link.title contains 'search' %}
                {% if section.settings.show_search %}
                  {% include 'search-form' %}
                {% endif %}

              {% else %}
                {% if linklists[link.handle].links.size > 0 %}
                  <li class="{% if link.active %}active{% endif %} dropdown">
                    <a href="#" title="{{ l.title }}" class="dropdown-toggle" data-toggle="dropdown">
                      {{ link.title }}
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      {% for l in linklists[link.handle].links %}
                        {% include 'navbar-sub-links' %}
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li class="main-menu-nav-left-li_item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endcapture %}
          {{main_menu_left}}
        </ul>
      </div>
    {% endif %}

    {% if section.settings.logo_placement == 'main-menu' %}
      <div class="main-menu-nav-logo-center-wrapper{% if section.settings.logo_alignment == 'left' %} main-menu-nav-logo-left-wrapper{% endif %}">
        {% if section.settings.logo != blank %}
          <a href="/">
            <img  width="{{  section.settings.logo-height }}" src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name }}">
          </a>
        {% else %}
          <a href="/">{{ shop.name }}</a>
        {% endif %}
      </div>
    {% endif %}
    

    {% if section.settings.main_menu_right != blank %}
      <div class="main-menu-nav-right-wrapper{% if section.settings.logo_alignment == 'left' %} main-menu-logo-left{% else %} main-menu-logo-center{% endif %}{% if section.settings.main_menu_left == blank %} main-menu-logo-left-no-left{% endif %}{% if section.settings.logo_placement != 'main-menu' %} not-aligned-together{% endif %}{% if section.settings.logo_placement != 'main-menu' and section.settings.main_menu_right != blank %} both-menus{% endif %}{% if section.settings.logo_placement != 'main-menu' and section.settings.main_menu_left == blank %} one-menu{% endif %}">
        <div class="utility-bar">
          <div class="loc-detail">
            <ul class="specs">
              <li>Order To-Go Daily 11 a.m. - 9 p.m &nbsp;&nbsp;&nbsp;<a href="https://perryssteakhouse.com/curbside/">Order Now</a></li>
            </ul>
          </div>
        </div>
        <ul class="main-menu-nav-right-ul_menu">
          {% capture main_menu_right %}
            {% for link in linklists[section.settings.main_menu_right].links %}

              {% if link.title contains 'account' %}
                {% if shop.customer_accounts_enabled and section.settings.show_account %}
                  <li class="dropdown hidden-xs{% if template contains 'customers' %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                    <ul class="dropdown-menu">
                      {% if customer %}
                      <li><a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a></li>
                      <li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
                      {% else %}
                      <li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
                      <li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

              {% elsif link.title contains 'cart' %}
                {% if section.settings.show_cart %}
                  {% if section.settings.ajax_cart %}
                    <li class="dropdown hidden-xs{% if template == 'cart' %} active{% endif %}">
                      <a class="cartCount" href="/cart" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i> <span class="badge">{{ cart.item_count }}</span> <span class="caret"></span></a>     
                      <ul class="cart-dropdown dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li class="cart-btns text-center">
                          <a href="/cart" class="btn btn-primary ajax-cart-btn ajax-cart-view-btn">View Cart</a><a href="/checkout" class="btn btn-main ajax-cart-btn ajax-cart-checkout-btn">Checkout</a>
                        </li>
                      </ul>
                    </li>
                  {% else %}
                    <li class="hidden-xs{% if template == 'cart' %} active{% endif %}">
                      <a class="cartCount" href="/cart"><i class="fa fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge">{{ cart.item_count }}</span>{% endif %}</a>
                    </li>
                  {% endif %}
                {% endif %}

              {% elsif link.title contains 'currency' %}
                {% if section.settings.show_currency %}
                  {% include 'currency-switcher' %}
                {% endif %}

              {% elsif link.title contains 'search' %}
                {% if section.settings.show_search %}
                  {% include 'search-form' %}
                {% endif %}

              {% else %}
                {% if linklists[link.handle].links.size > 0 %}
                  <li class="{% if link.active %}active{% endif %} dropdown">
                    <a href="#" title="{{ l.title }}" class="dropdown-toggle" data-toggle="dropdown">
                      {{ link.title }}
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      {% for l in linklists[link.handle].links %}
                        {% include 'navbar-sub-links' %}
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li class="main-menu-nav-right-li_item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endcapture %}
          {{main_menu_right}}
        </ul>
      </div>
    {% endif %}


    {% if section.settings.logo_placement == 'below-main-menu' %}
      <div class="main-menu-nav-logo-center-wrapper not-aligned-together-logo">
        {% if section.settings.logo != blank %}
          <a href="/">
            <img  width="{{  section.settings.logo-height }}" src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name }}">
          </a>
        {% else %}
          <a href="/">{{ shop.name }}</a>
        {% endif %}
      </div>
    {% endif %}


    <div class="cart-mobile-btn-wrapper">
      
      <ul class="cart-mobile-btn-ul">
        <li class="dropdown hidden-xs{% if template contains 'customers' %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
          <ul class="dropdown-menu">
            {% if customer %}
            <li><a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a></li>
            <li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
            {% else %}
            <li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
            <li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>
            {% endif %}
          </ul>
        </li>
      </ul>
      
      <ul class="cart-mobile-btn-ul">
        {% if section.settings.show_cart %}
          {% if section.settings.ajax_cart %}
            <li class="dropdown{% if template == 'cart' %} active{% endif %}">
              <a class="cartCount" href="/cart" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i> <span class="badge">{{ cart.item_count }}</span> <span class="caret"></span></a>     
              <ul class="cart-dropdown dropdown-menu" role="menu">
                <li class="divider"></li>
                <li class="cart-btns text-center">
                  <a href="/cart" class="btn btn-primary ajax-cart-btn ajax-cart-view-btn">View Cart</a><a href="/checkout" class="btn btn-main ajax-cart-btn ajax-cart-checkout-btn">Checkout</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="{% if template == 'cart' %}active{% endif %}">
              <a class="cartCount" href="/cart"><i class="fa fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge">{{ cart.item_count }}</span>{% endif %}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>

    </div>

    {% if section.settings.check_main_menu_site_width %}{% include '__containers-close' %}{% endif %}
  </div>
{% endif %}
{% comment %} Main Menu - END {% endcomment %}


{% comment %} Mobile Menu - START {% endcomment %}

  <div class="row mobile-header">
    <div class="mobile-left">
      <a href="/" class="logo">
        <img src="https://perryssteakhouse.com/wp-content/themes/perrys-steakhouse/img/Perrys-Steakhouse-Grille-Logo-Sm.png" alt="Perry's Steakhouse &amp; Grille Logo">
      </a>
    </div>
    {% comment %}
    <div class="mobile-center">
      <div class="loc-status">
        <p class="details">
            Your Location: Oak Brook						   
            <a href="https://perryssteakhouse.com/to-go/">View To-Go Menu</a>
            </p>
      </div>
    </div>
    {% endcomment %}
    <div class="mobile-right">
      <button class="hamburger hamburger--collapse" id="mobile-btn" type="button" data-toggler=".is-active" data-toggle="mobile-btn body mobile-nav" aria-expanded="false">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="mobile-bottom">
      <a href="/" class="res-btn">Place Delivery Orders</a>
    </div>
  </div>

  <div id="mobile-nav" class="mobile-nav" data-toggler=".is-visible" aria-expanded="false">
    <div class="inner">
      <nav>
        <div class="row res-menu-details">
          <div class="column small-12">
                <a href="/" class="res-btn">Order Delivery</a>
          </div>
        </div>
        <ul>
          <ul id="menu-mobile-primary-menu" class="nav-primary">
            <li class="menu-item menu-item-type-post_type_archive menu-item-object-locations menu-item-20077">
              <a href="/account">My Account</a>
            </li>
            <li class="menu-item menu-item-type-post_type_archive menu-item-object-locations menu-item-20077">
              <a href="/cart">Cart</a>
            </li>
            <li id="menu-item-20077" class="menu-item menu-item-type-post_type_archive menu-item-object-locations menu-item-20077">
              <a href="https://perryssteakhouse.com/locations/">Menu &amp; Locations</a>
            </li>
            <li id="menu-item-20078" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20078">
              <a href="https://perryssteakhouse.com/bar-79/">Bar 79</a>
            </li>
            <li id="menu-item-20079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20079">
              <a href="https://perryssteakhouse.com/plan-an-event/">Plan an Event</a>
            </li>
          </ul>	
          
          <ul id="menu-secondary-menu-1" class="nav-secondary nav-s">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a href="https://perryssteakhouse.com/about-us/">About Us</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="https://perryssteakhouse.com/experience/">Experience</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20668"><a href="https://onelink.quickgifts.com/merchant/perrys-restaurants/">Gift Cards</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="https://perryssteakhouse.com/contact-us/">Contact Us</a></li>
          </ul>
{% comment %} 
          <li class="nav-t"><a href="https://perryssteakhouse.com/terms-conditions">Terms &amp; Conditions</a></li>
          <li class="nav-t"><a href="https://perryssteakhouse.com/join-email">Join Our Email List</a></li>
          <li class="nav-t"><a target="_blank" href="https://perryssteakhouse.com/employment">Employment</a></li>{% endcomment %} 
        </ul>
      </nav>
    </div>
  </div>

  {% comment %} <div class="mobile-menu-side-drawer-wrapper" id="mySidenav">

    <div class="closebtn">
      <div class="close-container">
        <div class="leftright"></div>
        <div class="rightleft"></div>
        <label class="close">close</label>
      </div>
    </div>

    <div class="mobile-extra-wrapper">
      {% if section.settings.top_phone %}
        <div class="mobile-phonebtn">
          <a href="tel:{{ section.settings.top_phone }}">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </a>
        </div>
      {% endif %} 

      {% if shop.customer_accounts_enabled and section.settings.show_account %}
        <div class="mobile-accountbtn">
          <a href="/account">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </div>
      {% endif %} 

      {% if section.settings.show_currency %}
        <div class="mobile-currencybtn">
          <ul>{% include 'currency-switcher' %}</ul>
        </div>
      {% endif %}


    </div>


    {% if section.settings.show_search %}
      <div class="mobile-search-wrapper">
        <form action="/search">
          <div class="input-group">
            <input type="search" name="q" class="form-control search-bar tt-query" autocomplete="off" placeholder="Search..." value="" spellcheck="false" dir="auto">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    {% endif %} 

    <ul class="mobile-menu-ul_menu">

      {% if section.settings.top_menu != blank %}
        {{main_menu_top}}
      {% endif %}

      {% if section.settings.main_menu_left != blank %}
        {{main_menu_left}}
      {% endif %}

      {% if section.settings.main_menu_right != blank %}
        {{main_menu_right}}
      {% endif %} {% endcomment %}


    {% comment %} </ul>

    <div class="mobile-social-links-wrapper">{% include 'social-links' %}</div>

  </div> {% endcomment %}

{% comment %} Mobile Menu - END {% endcomment %}



{% schema %}
{
  "name": "Header",
  "class": "header-main-nav",
  "settings": [
    {
     "type": "header",
     "content": "Announcement Bar"
    },
    {
      "type": "checkbox",
      "id": "check_announcement_bar",
      "label": "Show Announcement Bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "check_announcement_bar_x",
      "label": "Show Close Button (X)",
      "info": "Ability for users to close announcement bar",
      "default": true
    },
    {
      "type": "color",
      "id": "color_announcement_bar",
      "label": "Announcement bar text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "colorbkg_announcement_bar",
      "label": "Announcement bar background color",
      "default": "#f5f5f5"
    },
    {
      "type": "richtext",
      "id": "announcement_bar",
      "info": "Editing text will display announcement to all even if they clicked the close button.",
      "label": "Announcement Bar"
    },
    {
     "type": "header",
     "content": "Top bar"
    },
    {
      "type": "checkbox",
      "id": "check_top_show_bar",
      "label": "Show Top Menu Bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "check_top_show_social_media",
      "label": "Show Social Media",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "check_top_smoosh",
      "label": "Collapse Menu",
      "info": "Window Width (show more button) or will drop a line",
      "default": true
    },
    {
      "type": "color",
      "id": "color_top_bar",
      "label": "Top bar text color",
      "default": "#202020"
    },
    {
      "type": "color",
      "id": "colorbkg_top_bar",
      "label": "Top bar background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "top_phone",
      "label": "Phone Number"
    },
    {
      "type": "link_list",
      "id": "top_menu",
      "label": "Top bar menu"
    },
    {
      "type": "checkbox",
      "id": "check_top_site_width",
      "label": "Use site width",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "To add the below to menus use the text in single quotes in a Navigation Menu."
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show Account",
      "info": "Use name: 'account'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show Cart",
      "info": "Use name: 'cart'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency",
      "label": "Show Currency",
      "info": "Use name: 'currency'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show Search",
      "info": "Use name: 'search'",
      "default": true
    },
    {
     "type": "header",
     "content": "Main Menu"
    },
    {
      "type": "checkbox",
      "id": "check_main_menu_show",
      "label": "Show main menu",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "check_main_menu_site_width",
      "label": "Use site width",
      "default": true
    },
    {
      "type": "color",
      "id": "color_main_menu",
      "label": "Main Menu text color",
      "default": "#202020"
    },
    {
      "type": "color",
      "id": "colorbkg_main_menu",
      "label": "Main Menu background color",
      "default": "#ffffff"
    },
    {
      "type": "link_list",
      "id": "main_menu_left",
      "label": "Main menu left"
    },
    {
      "type": "link_list",
      "id": "main_menu_right",
      "label": "Main menu right"
    },
    {
     "type": "header",
     "content": "Brand/Logo"
    },
    {
      "type": "select",
      "id": "logo_placement",
      "options": [
          { "value": "main-menu", "label": "Align with Main Menu"},
          { "value": "above-main-menu", "label": "Above Main Menu"},
          { "value": "below-main-menu", "label": "Below Main Menu"}
      ],
      "default": "main-menu",
      "label": "Logo Placement"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "options": [
          { "value": "center", "label": "Center"},
          { "value": "left", "label": "Left"}
      ],
      "default": "center",
      "label": "Logo alignment"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 100px recommended"
    },
    {
      "type": "text",
      "id": "logo-height",
      "label": "Logo Height",
      "info": "e.g. 60px"
    },
    {
     "type": "header",
     "content": "Extras"
    },
    {
      "type": "checkbox",
      "id": "ajax_cart",
      "label": "Use Ajax Cart",
      "default": true
    },
    {
     "type": "header",
     "content": "Fixed/Sticky Header"
    },
    {
      "type": "checkbox",
      "id": "fixed_annoucement_bar",
      "label": "Fixed Announcement Bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "fixed_top_bar",
      "label": "Fixed Top Bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "fixed_main_menu",
      "label": "Fixed Main Menu",
      "default": false
    },
    {
     "type": "header",
     "content": "Mobile"
    }
  ]
}
{% endschema %}
