{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- break -%}{%- endif -%}
{% if t_object != blank %}
{% assign product = t_object %}
{% endif %}
{% capture vars %}
{% assign selected_or_first_variant = product.selected_or_first_available_variant %}
{% if product.featured_image == blank %}
{% include 'image-placeholder' %}
{% else %}
{% capture image %}
{% assign featured_image = selected_or_first_variant.featured_image | default: product.featured_image %}
{% unless settings.container-width-large-devices contains 'px' %}{% assign product_img_size = '1024x1024' %}{% else %}{% assign product_img_size = 'grande' %}{% endunless %}
<img src="{{ featured_image.src | product_img_url: product_img_size }}" alt="{{ featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}
{% include '__poa-tag' with product %}

      {% assign has_prices = true %}
      {% if has_cart == false and settings.hide-prices-if-cart-disabled %}{% assign has_prices = false %}{% endif %}

<section id="{% include '__advanced-layout-id' with 'product-wrap' %}" class="product-wrap section-wrap">
  {% include '__containers-open' %}
  <div class="visible-xs">
    <h1 class="page-header" itemprop="name">{{ product.title }}</h1>
  </div>

  <div class="row" itemscope itemtype="http://data-vocabulary.org/Product">

    {% if section.settings.thumbnail_placement == 'under-featured-image' %}
        <!-- images col -->
          <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
            <div class="row product-images">
              <div class="col-xs-12 col-sm-12">
                <div class="thumbnail product-main-image">
                  {{ image }}
                </div>
              </div>
              
              {% if product.images.size > 1 %}
              {% for image in product.images %}
              <div class="col-xs-4">
                <div class="thumbnail">
                  <div class="thumbnail-image product-main-thumb asdfasdfasdfasdfasd">
                    <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                      {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
    {% endif %}
    {% if section.settings.thumbnail_placement == 'right-featured-image' %}
        <!-- images col -->
          <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
            <div class="row product-images">

              <div class="col-xs-9 col-sm-9">
                <div class="thumbnail product-main-image">
                  {{ image }}
                </div>
              </div>
              <div class="thumbnail-container col-xs-3 col-sm-3">
                {% if product.images.size > 1 %}
                {% for image in product.images %}
                  <div class="thumbnail">
                    <div class="thumbnail-image product-main-thumb asdfadsfasdf">
                      <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                        {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                      </a>
                    </div>
                  </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
    {% endif %} 
    {% if section.settings.thumbnail_placement == 'left-featured-image' %}
        <!-- images col -->
          <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
            <div class="row product-images">
              <div class="thumbnail-container col-xs-3 col-sm-3">
                {% if product.images.size > 1 %}
                {% for image in product.images %}
                  <div class="thumbnail">
                    <div class="thumbnail-image product-main-thumb asdfasdf">
                      <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                        {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                      </a>
                    </div>
                  </div>
                {% endfor %}
                {% endif %}
              </div>
              <div class="col-xs-9 col-sm-9">
                <div class="thumbnail product-main-image">
                  {{ image }}
                </div>
              </div>
            </div>
          </div>
    {% endif %}
    {% if section.settings.thumbnail_placement == 'scrolling-thumb-images' %}
        <!-- images col -->
          <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
            <div class="row product-images">

              <div class="col-xs-12 col-sm-12">
                <div class="thumbnail product-main-image">
                  {{ image }}
                </div>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="thumbnail-container carousel">
                  {% if product.images.size > 1 %}
                    {% for image in product.images %}
                      <div class="thumbnail-image product-main-thumb adsfasdfasdf">
                          <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                            {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                          </a>
                      </div>

                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
      <script>
        $('.carousel').slick({
          dots: true,
          infinite: false,
          speed: 300,
          slidesToShow: 2,
          slidesToScroll: ,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });
      </script>
      <style>
        .slick-prev:before, .slick-next:before {
          color:#000;
        }
      </style>
    {% endif %}
    {% if section.settings.thumbnail_placement == 'scrolling-featured-images' %}
      <!-- images col -->
        <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
            <div class="col-sm-1">
              <div class="carousel carousel-nav" data-flickity='{
                "asNavFor": ".carousel-main",
                "draggable": false,
                "percentPosition": false,
                "groupCells": "100%",
                "pageDots": false
              }'>
                {% if product.images.size > 1 %}
                {% for image in product.images %}
                    <div class="carousel-cell">
                      <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                        {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                      </a>
                  </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="col-sm-12">
              <div class="thumbnail-container carousel" data-flickity='{
                "contain": true,
                "pageDots": true
              }'>
                {% if product.images.size > 1 %}
                {% for image in product.images %}
                    <div class="carousel-cell">
                      <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                        {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                      </a>
                  </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
        </div>
        <style>
          .carousel-cell {
            counter-increment: carousel-cell;
            /* cell number */
          }
          .carousel-cell:before {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            display: block;
            text-align: center;
            content: counter(carousel-cell);
          }

          .carousel-main .carousel-cell {
            width: 100%;
            height: 360px;
            font-size: 5rem;
          }
          .carousel-cell img {
            width:100%;
          }
          .carousel-nav {
            width: 300px;
            -webkit-transform: rotate(90deg) translate(30px, -100%);
                    transform: rotate(90deg) translate(30px, -100%);
            -webkit-transform-origin: left top;
                    transform-origin: left top;
          }
          @media screen and (max-width: 1200px) {
            .carousel-nav {
              -webkit-transform: rotate(90deg) translate(30px, -50%);
                      transform: rotate(90deg) translate(30px, -50%);
            }
          }
          .carousel-nav .carousel-cell {
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
            width: 80px;
            height: 80px;
            cursor: pointer;
            margin-right: 1rem;
            font-size: 1.4rem;
            /* selected cell */
          }
          .carousel-nav .carousel-cell.is-nav-selected {
            background: #ed2;
          }
          .carousel-nav .flickity-prev-next-button {
            width: 40px;
            height: 40px;
            background: transparent;
          }
          .carousel-nav .flickity-prev-next-button.previous {
            left: -40px;
          }
          .carousel-nav .flickity-prev-next-button.next {
            right: -40px;
          }

        </style>
    {% endif %}
    <!-- details col -->
    <div id="product-details" class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
      <h1 class="hidden-xs" itemprop="name">{{ product.title }}</h1>
      {% include 'product-badges' %}

      {% unless settings.show-price-if-zero == blank and product.price == 0 %}
      {% if has_prices %}
      {% if price_is_poa %}
      <div class="product-price-poa">
        <span>{% include '__localize' with 'POA' %}</span>
      </div>
      {% else %}
      <div class="product-price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <span class="price-field">{% include 'product-price' with selected_or_first_variant.price %}</span>
        {% if settings.append-plus-taxes-to-price %}<small class="text-muted"> {% include '__localize' with 'plus taxes' %}</small>{% endif %}
        <small class="compare-at-price text-muted"><del>{% include '__localize' with 'was' %} <span class="compare-at-price-field"></span></del></small>
        {% include 'product-labels' with product %}
        <meta itemprop="currency" content="{{ shop.currency }}" />
        <meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
      </div>
      {% endif %}
      {% endif %}
      
            <!-- START SHOPKEEPERS GIFT CARD CODE -->
      <div class="skt_gc_button_container"></div><div class="skt_gc_preview_button_container"></div>

      {% include 'shappify-sales-clock' with product %}
      {% include 'product-availability' with product %}
      {% include 'product-add-to-cart-form' %}
      {% endunless %}

      {% if product.metafields.custom_links.size > 0 %}
      <ul class="custom-links">
        {% for l in product.metafields.custom_links %}
        <li><a href="{{ l.last }}" class="btn btn-default" title="{{ l.first }}" target="_blank">{{ l.first }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if product.metafields.custom_images.size > 0 %}
      <ul class="custom-images">
        {% for l in product.metafields.custom_images %}
        <li><img src="{{ l.last }}" class="custom-image" alt="{{ l.first }}"></li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="after-content">
        {% unless settings.after_cart_content == blank %}
        {{ settings.after_cart_content }}
        {% endunless %}
      </div>
      

      
      {% include 'product-description' %}

      {% include 'product-specs' %}   		  
    </div>
  </div>

  {% comment %}
      {% unless settings.yotpo-api-key == blank %}
          <div class="yotpo yotpo-main-widget"
               data-product-id="{{ product.id }}"
               data-name="{{ product.title | escape }}"
               data-url="{{ page.url }}"
               data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
               data-description="{{ product.description | escape }}">
          </div>
      {% endunless %}
  {% endcomment%}
  
  {% include '__containers-close' %}
</section>

{% schema %}

{
  "name": "Product Template",
  "class": "product-template",
  "settings": [
  {
    "type": "select",
    "id": "thumbnail_placement",
    "options": [
      { "value": "under-featured-image", "label": "Under featured image"},
      { "value": "left-featured-image", "label": "Left of featured image"},
      { "value": "right-featured-image", "label": "Right of featured image"},
      { "value": "scrolling-thumb-images", "label": "Scrolling thumb images"}
    ],
    "default": "under-featured-image",
    "label": "Thumbnail Placement"
  },
    {
      "type": "header",
      "content": "Product variants/options",
      "info":"Select the style of how the product variants appear."
    },
    {
      "type": "select",
      "id": "swatch_type",
      "label": "Swatch Type",
      "options": [
        {
          "value": "dropdown",
          "label": "Dropdowns"
        },
        {
          "value": "button",
          "label": "Buttons"
        },
        {
          "value": "image",
          "label": "Images"
        }
      ],
      "default": "dropdown"
    },
    {
      "type": "checkbox",
      "id": "swatch_title",
      "label": "Use Swatch Titles",
      "default": true,
      "info": "Show titles above the product options"
    }
  ],
  "blocks": [
    {
      "type":"color_color",
      "name":"Custom color",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Color Names",
          "info": "eg: yellow"
        },
        {
          "type": "color",
          "id": "color_1_c",
          "label": "Select color"
        },
        {
          "type": "color",
          "id": "color_2_c",
          "label": "Select color 2 (optional)"
        },
        {
          "type": "checkbox",
          "id": "color_img",
          "label": "Show image?"
        },
        {
          "type": "image_picker",
          "id": "color_jpg",
          "label": "Color image",
          "info": "30px x 30px recommended"
        }
      ]
    }
  ]
}
{% endschema %}
