  
{% if section.settings.logo_placement == 'under-featured-image' %}
    <!-- images col -->
      <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
        <div class="row product-images">
          <div class="col-xs-12 col-sm-12">
            <div class="thumbnail product-main-image">
              {{ image }}
            </div>
          </div>
          
          {% if product.images.size > 1 %}
          {% for image in product.images %}
          <div class="col-xs-4">
            <div class="thumbnail">
              <div class="thumbnail-image product-main-thumb">
                <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                  {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
{% endif %}
  
{% if section.settings.logo_placement == 'left-featured-image' %}
    <!-- images col -->
      <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
        <div class="row product-images">
          <div class="col-xs-8 col-sm-8">
            <div class="thumbnail product-main-image">
              {{ image }}
            </div>
          </div>
          <div class="thumbnail-container">
            {% if product.images.size > 1 %}
            {% for image in product.images %}
            <div class="col-xs-4">
              <div class="thumbnail">
                <div class="thumbnail-image product-main-thumb">
                  <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                    {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
{% endif %}
{% if section.settings.logo_placement == 'scrolling-image' %}
    <!-- images col -->
      <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
        <div class="row product-images">
          <div class="thumbnail-container">
            {% if product.images.size > 1 %}
            {% for image in product.images %}
            <div class="col-xs-12">
              <div class="thumbnail carousel">
                <div class="thumbnail-image product-main-thumb carousel-cell">
                  <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                    {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

{% endif %}
{% schema %}
  {
    "name": "Image Layout",
    "settings": [
    {
      "type": "paragraph",
      "content": "Thumbnail placement"
    },
    {
      "type": "select",
      "id": "thumbnail_placement",
      "options": [
          { "value": "under-featured-image", "label": "Under featured image"},
          { "value": "left-featured-image", "label": "Left of featured image"},
          { "value": "scrolling-image", "label": "Scrolling images"},
          { "value": "right-featured-image", "label": "Right of featured image" }
      ],
      "default": "under-featured-image",
      "label": "Thumbnail Placement"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
