<div id="home-slider" class="carousel slide slider-wrapper">
  <!-- Wrapper For Slides -->
  <div class="carousel-inner" role="listbox">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators"></ol>
      {% for block in section.blocks %}
        <li data-target="#home-slider" data-slide-to="{{ forloop.index }}"></li>
      {% endfor %}
    </ol> -->
    {% for block in section.blocks %}   
      <div class="item">
        <div class="slide-image slide-{{ forloop.index }}">
          <img src="{{ block.settings.slide-img | img_url: 'master' }}" alt="">
        </div>
        <div class="content">
          <h2>{{ block.settings.slide-title-one }} <span>{{ block.settings.slide-title-two }}</span></h2>
          <a class="btn btn-defualt btn-banner"  href="{{ block.settings.slide-button-link }}">{{ block.settings.slide-button-label }}</a>
        </div>
      </div>
    {% endfor %}
  </div><!-- End of Wrapper For Slides -->
    <!-- Controls -->
    <a class="left carousel-control" href="#home-slider" role="button" data-slide="prev">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a class="right carousel-control" href="#home-slider" role="button" data-slide="next">
      <i class="fa fa-chevron-right"></i>
    </a>
</div>  

<style>
.slider-wrapper img {
  width:100%;
}
.carousel .item {
  min-height:600px;
}
@media (max-width:768px) {
  .carousel-fade .content {
    left:2%;
    bottom:30%;
  }
  .home-wrapper .carousel .banner-content h2 {
    font-size:40px;
  }
  .home-wrapper .carousel .banner-content h2 span {
    font-size:70px;
  }
  
  {% for block in section.blocks %}   
    .slide-{{ forloop.index }} {
      background:url('{{ block.settings.mobile-slide-img | img_url: 'master' }}') no-repeat top center!important;
      background-size:contain!important;
    }
  {% endfor %}
}
</style>

{% schema %}
{
  "name": "Second Home Slider",
  "max_blocks": 100,
  "blocks": [
    {
      "type": "select",
      "name": "Slider Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide-img",
          "label": "Slide Image"
        },
        {
          "type": "image_picker",
          "id": "mobile-slide-img",
          "label": "Mobile Slide Image"
        },
        {
          "type": "text",
          "id": "slide-title-one",
          "label": "Slide Title"
        },
        {
          "type": "text",
          "id": "slide-title-two",
          "label": "Slide Title"
        },
        {
          "type": "textarea",
          "id": "slide-subtext",
          "label": "Slide Subtext"
        },
        {
          "type": "url",
          "id": "slide-button-link",
          "label": "Slide Button Link"
        },
        {
          "type": "text",
          "id": "slide-button-label",
          "label": "Slide Button Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Call to Action Blocks",
      "category": "CTA button",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}